# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2024 Nicolas Fella <nicolas.fella@gmx.de>
[Desktop Entry]
Type=Application
Name=SSH Credentials
Name[bg]=Идентификационни данни за SSH
Name[ca]=Credencials de SSH
Name[ca@valencia]=Credencials de SSH
Name[cs]=Přihlašovací údaje SSH
Name[en_GB]=SSH Credentials
Name[eo]=SSH-Legitimaĵoj
Name[es]=Credenciales SSH
Name[eu]=SSH egiaztagiriak
Name[fr]=Identifiants pour SSH
Name[gl]=Credenciais de SSH
Name[he]=פרטי גישה ב־SSH
Name[ia]=Credentiales de SSH
Name[ka]=SSH-ის ავტორიზაციის დეტალები
Name[nl]=SSH-credentials
Name[nn]=SSH-brukardata
Name[pl]=Dane dostępowe SSH
Name[sl]=Poverilnice SSH
Name[sv]=SSH-inloggningsinformation
Name[tr]=SSH Kimlik Bilgileri
Name[uk]=Реєстраційні дані SSH
Name[x-test]=xxSSH Credentialsxx
Name[zh_CN]=SSH 身份验证信息
Name[zh_TW]=SSH 認證資訊
Exec=ksshhaskpass
NoDisplay=true
Icon=dialog-password
