[Desktop Entry]
Version=1.0
Name=SSH AskPass
Name[cs]=SSH AskPass
Name[de]=SSH AskPass
Name[nl]=SSH AskPass
Name[pt]=SSH AskPass
Name[pt_BR]=SSH AskPass
Name[sk]=SSH AskPass
Name[sv]=SSH fråga efter lösenord
Name[uk]=SSH AskPass
Name[x-test]=xxSSH AskPassxx
Name[zh_CN]=SSH AskPass
GenericName=ssh-add
GenericName[cs]=ssh-add
GenericName[de]=ssh-add
GenericName[es]=ssh-add
GenericName[nl]=ssh-add
GenericName[pt]=ssh-add
GenericName[pt_BR]=ssh-add
GenericName[sk]=ssh-add
GenericName[sv]=ssh-add
GenericName[uk]=ssh-add
GenericName[x-test]=xxssh-addxx
GenericName[zh_CN]=ssh-add
Comment=Enter passphrase to authenticate to the ssh agent
Comment[cs]=Zadejte heslo pro ověření agenta ssh
Comment[de]=Geben Sie einen Kennsatz zur Authentifizierung am SSH-Agent eingeben
Comment[nl]=Voer wachtzin in voor authenticatie bij de ssh-agent
Comment[pt]=Indique a senha para se autenticar no agente do SSH
Comment[pt_BR]=Digite a frase-senha para autenticar o agente ssh
Comment[sk]=Zadajte heslo na overenie pre ssh agenta
Comment[sv]=Ange lösenordsfras för att kontrollera behörighet med SSH
Comment[uk]=Введення пароля для розпізнавання за протоколом ssh
Comment[x-test]=xxEnter passphrase to authenticate to the ssh agentxx
Comment[zh_CN]=输入密码来验证 ssh agent
Exec=/usr/bin/ssh-add
TryExec=ssh-add
Terminal=false
Type=Application
Icon=ssh-askpass-gnome
Categories=Network;Security;
