[Desktop Entry]
Version=1.0
Name=SSH AskPass
Name[ast]=SSH AskPass
Name[bs]=SSH AskPass
Name[ca]=SSH AskPass
Name[ca@valencia]=SSH AskPass
Name[cs]=SSH AskPass
Name[da]=SSH AskPass
Name[de]=SSH AskPass
Name[el]=SSH AskPass
Name[en_GB]=SSH AskPass
Name[es]=SSH AskPass
Name[fi]=SSH AskPass
Name[fr]=SSH-AskPass
Name[gl]=SSH AskPass
Name[hu]=SSH AskPass
Name[it]=SSH AskPass
Name[ko]=SSH AskPass
Name[lt]=SSH AskPass
Name[nb]=SSH AskPass
Name[nl]=SSH AskPass
Name[nn]=SSH AskPass
Name[pa]=SSH AskPass
Name[pl]=SSH AskPass
Name[pt]=SSH AskPass
Name[pt_BR]=SSH AskPass
Name[ro]=SSH AskPass
Name[ru]=SSH AskPass
Name[sk]=SSH AskPass
Name[sl]=SSH AskPass
Name[sr]=К‑ССХ‑упитник
Name[sr@ijekavian]=К‑ССХ‑упитник
Name[sr@ijekavianlatin]=K‑SSH‑upitnik
Name[sr@latin]=K‑SSH‑upitnik
Name[sv]=SSH fråga efter lösenord
Name[tr]=SSH AskPass
Name[uk]=SSH AskPass
Name[x-test]=xxSSH AskPassxx
Name[zh_CN]=SSH AskPass
Name[zh_TW]=SSH AskPass
GenericName=ssh-add
GenericName[ast]=ssh-add
GenericName[bs]=ssh-add
GenericName[ca]=ssh-add
GenericName[ca@valencia]=ssh-add
GenericName[cs]=ssh-add
GenericName[da]=ssh-add
GenericName[de]=ssh-add
GenericName[el]=ssh-add
GenericName[en_GB]=ssh-add
GenericName[es]=ssh-add
GenericName[fi]=ssh-add
GenericName[fr]=ssh-add
GenericName[gl]=ssh-add
GenericName[hu]=ssh-add
GenericName[it]=ssh-add
GenericName[ko]=ssh-add
GenericName[lt]=ssh-add
GenericName[nb]=ssh-add
GenericName[nl]=ssh-add
GenericName[nn]=ssh-add
GenericName[pa]=ssh-add
GenericName[pl]=ssh-add
GenericName[pt]=ssh-add
GenericName[pt_BR]=ssh-add
GenericName[ro]=ssh-add
GenericName[ru]=ssh-add
GenericName[sk]=ssh-add
GenericName[sl]=ssh-add
GenericName[sr]=Прочеље за наредбу ssh-add
GenericName[sr@ijekavian]=Прочеље за наредбу ssh-add
GenericName[sr@ijekavianlatin]=Pročelje za naredbu ssh-add
GenericName[sr@latin]=Pročelje za naredbu ssh-add
GenericName[sv]=ssh-add
GenericName[tr]=ssh-add
GenericName[uk]=ssh-add
GenericName[x-test]=xxssh-addxx
GenericName[zh_CN]=ssh-add
GenericName[zh_TW]=ssh-add
Comment=Enter passphrase to authenticate to the ssh agent
Comment[ar]=أدخل عبارة المرور للاستيثاق مع وكيل SSH
Comment[ast]=Introduz la fras de pasu p'autenticate col axente ssh
Comment[bs]=Unesi lozinku za prijavu na ssh agenta
Comment[ca]=Introduïu la frase de contrasenya per autenticar-se amb l'agent ssh
Comment[ca@valencia]=Introduïu la frase de contrasenya per autenticar-se amb l'agent ssh
Comment[cs]=Zadejte heslo pro ověření agenta ssh
Comment[da]=Angiv adgangsfrase til at autentificere til ssh-agenten
Comment[de]=Geben Sie einen Kennsatz zur Authentifizierung am SSH-Agent eingeben
Comment[el]=Καταχωρήστε συνθηματικό για την ταυτοποίηση με τον πράκτορα ssh
Comment[en_GB]=Enter passphrase to authenticate to the ssh agent
Comment[es]=Introduzca la contraseña larga para autenticarse en el agente ssh
Comment[fi]=Kirjoita salauslause tunnistautuaksesi ssh-agentille
Comment[fr]=Saisissez une phrase de passe pour vous authentifier auprès de l'agent ssh
Comment[gl]=Introduza un contrasinal para autenticarse co axente de SSH.
Comment[hu]=Adja meg a jelszót az ssh agent hitelesítéséhez
Comment[it]=Digita la frase segreta per l'autenticazione all'agente ssh
Comment[ko]=SSH 에이전트에 인증할 암호를 입력하십시오
Comment[lt]=Įveskite slaptą frazę skirtą, kad nustatyti tapatybę ssh agente
Comment[nb]=Oppgi passfrase for autentisering til ssh-agenten
Comment[nl]=Voer wachtzin in voor authenticatie bij de ssh-agent
Comment[nn]=Skriv inn passfrase for autentisering til ssh-agenten
Comment[pa]=ssh ਏਜੰਟ ਨੂੰ ਪਰਮਾਣਿਤ ਕਰਨ ਲਈ ਵਾਕ ਦਿਉ
Comment[pl]=Wprowadzanie hasła dla agenta ssh
Comment[pt]=Indique a senha para se autenticar no agente do SSH
Comment[pt_BR]=Digite a frase-senha para autenticar o agente ssh
Comment[ro]=Introduceți parola pentru autentificare cu agentul SSH
Comment[ru]=Введение пароля для клиента ssh
Comment[sk]=Zadajte heslo na overenie pre ssh agenta
Comment[sl]=Vnesite šifrirno frazo za overitev s posrednikom ssh
Comment[sr]=Унесите лозинку за аутентификовање код ССХ агента
Comment[sr@ijekavian]=Унесите лозинку за аутентификовање код ССХ агента
Comment[sr@ijekavianlatin]=Unesite lozinku za autentifikovanje kod SSH agenta
Comment[sr@latin]=Unesite lozinku za autentifikovanje kod SSH agenta
Comment[sv]=Ange lösenordsfras för att kontrollera behörighet med SSH
Comment[tr]=SSH yardımcısına kimlik doğrulamak için parolayı girin
Comment[uk]=Введення пароля для розпізнавання за протоколом ssh
Comment[x-test]=xxEnter passphrase to authenticate to the ssh agentxx
Comment[zh_CN]=输入密码来验证 ssh agent
Comment[zh_TW]=輸入密碼片語來認證 ssh
Exec=/usr/bin/ssh-add
TryExec=ssh-add
Terminal=false
Type=Application
Icon=ssh-askpass-gnome
Categories=Network;System;Security;
